	.root{
	-fx-border-color:blue;
	-fx-font-family: monospace;
	-fx-font-weight: bold;
	-fx-font-size: 30pt;
	-fx-background-color: #cce6ff;
}

.hbox-htTop{
	-fx-border-color: black;
	-fx-border-style: dotted;
	-fx-background-color: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
}
#lbDetails{
	-fx-background-color: #cfd9e2;
	-fx-background-radius: 0pt;
	-fx-padding: 12;
	-fx-background-color: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
	
	
}
#lbNavigation{
	-fx-background-color: #cfd9e2;
	-fx-background-radius: 0pt;
	-fx-padding: 12;
	-fx-background-color: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
	
	
}
.button{
	-fx-background-radius: 12pt;
	-fx-margin: 20pt;
	-fx-border-color: grey;
	
	-fx-border-radius: 12pt;
	-fx-border-width: 3 2 1 0;
	-fx-border-radius: 12pt;
	
	
	
}

.button:hover{
	
	-fx-background-radius: 12pt;
	-fx-margin: 20pt;
	
	
	-fx-border-radius: 12pt;
	-fx-border-width: 3 2 1 0;
	-fx-border-radius: 12pt;
}
.button:pressed{
	-fx-background-color: cyan;
	-fx-background-radius: 12pt;
	-fx-margin: 20pt;
	-fx-border-color: grey;
	-fx-border-width: 3 2 1 1;
	-fx-border-radius: 12pt;
}
 

.hbox-hbBottom{
-fx-spacing: 20;
-fx-font-size: 13pt;
-fx-padding: 28pt;
-fx-margin: 20;

}

.vbox-vbLeft{
 -fx-alignment: top-center;
 -fx-spacing: 20;
 -fx-padding: 18pt;
}


.vbox-vbRight{
 -fx-alignment: center;
 -fx-spacing: 20;
 -fx-padding: 18pt;
}

.list-cell{
-fx-font-size: 12pt;
-fx-font-family: Serif;
}

#txtErrorMsg {
  
		
	
}

#playerDetails, #roomHeader, #monstDesc, #attackStatus, #roomDesctn, #monstDesc, #attackStatus, #textA, #textB,#textC {
	-fx-background-color: rgba(138,6,81,0.6);
	-fx-font-size: 18pt;
	-fx-text-align: center;
	
	
	-fx-font-family: sans-Serif;
	-fx-font-size: 24pt; 
	-fx-font-style: italic;
	-fx-font-weight: normal;
	-fx-text-fill: #ffffff;
	
}

#playField{
	-fx-background-image: url("../image/storm1.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-fill-width: true;
	
	
	
	
}

#loginVBox{
	-fx-border-color:blue;
	-fx-font-family: monospace;
	-fx-font-weight: bold;
	-fx-font-size: 30pt;
	-fx-background-color: #cce6ff;
}