.root{
	-fx-font-size: 15pt;
	-fx-padding: 3 6 6 6;
	-fx-font-family: consolas;
	-fx-base: #BFE7FF;
}
.vbox, .hbox{
	-fx-border-color: blue;
	-fx-border-style: dotted;
	-fx-border-width: 1;
}
.text-field{
	-fx-background-color: grey;
	
	
	
}
.text-field:focused{
	-fx-background-color: #A9A9A9;
	
	
}